<h2>These are your cards</h2>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );



  </script>

<a class="button index_button" href="/cards/new">New Card</a>
<a class="button index_button" href="/main/index">Main Page</a>
<br /><br />

<div id="sortable" class = "ui-widget-content ui-draggable ui-draggable-handle">
  <% @cards.each do |card| %>

    <div class="index_cards">
      <div class="row">
        <div class="col-lg-12 title">
          <%= card.title %>
        </div>
          <div class="row">
            <div class="col-lg-12 text">
              <%= card.text %>
            </div>
          </div>
      </div>

      <p class="card_options">
        <%= link_to 'Show More', card_path(card) %>
      </p>
      <p class="card_options">
        <%= link_to 'Edit', edit_card_path(card) %>
      </p>
      <p class="card_options">
        <%= link_to 'Destroy', card_path(card),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </p>
    </div>

  <% end %>

</div>


<p id="order">
  This is the order
</p>

<script>
var sortedIDs = $( ".selector" ).sortable( "toArray" );

document.write(sortedIDs)
document.getElementById('order').innerHTML = sortedIDs
</script>

sortedIDs
